<table 
  class="
    table
    table-striped
    table-hover
    table-bordered
    border-dark
  "
>
  <thead
    class="table-dark"
  >
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Value</th>
    </tr>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        First name
      </td>

      <td>
        <%= @friend.first_name %>
      </td>
    </tr>

    <tr>
      <td>
        Last name
      </td>

      <td>
        <%= @friend.last_name %>
      </td>
    </tr>

    <tr>
      <td>
        Email
      </td>

      <td>
        <%= @friend.email %>
      </td>
    </tr>

    <tr>
      <td>
        Phone
      </td>

      <td>
        <%= @friend.phone %>
      </td>
    </tr>

    <tr>
      <td>
        Socials link
      </td>

      <td>
        <a href="https://<%= @friend.socials_link %>">
          <%= @friend.socials_link %>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-dark" %>
  <%= link_to "Delete", @friend, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  <%= link_to "Back", friends_path, class:"btn btn-dark" %>
</div>
